<p id="notice"><%= notice %></p>

<h1>Cryptos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Single TRX Cost</th>
      <th>MultiSig TRX Cost</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <tr>
        <td><%= crypto.name %></td>
        <td><%= crypto.single_transaction_cost %></td>
        <td><%= crypto.multi_sig_transaction_cost.nil? ? "NA" : crypto.multi_sig_transaction_cost  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
